# Get around a bug in windows (which is fixed in the windows source tree,
# but will take until Jan to be released! Grrr! Damm their security tests!).
numpy==1.19.3

# Notebook interactive items
jupyterlab

# Distributed processing libraries
git+https://github.com/funcx-faas/funcX.git@async_interface#subdirectory=funcx_sdk
dask[distributed]
