# Need some special fixed clients for this test
servicex==2.2a2

# Get around a bug in windows (which is fixed in the windows source tree,
# but will take until Jan to be released! Grrr! Damm their security tests!).
numpy==1.19.3

pyarrow==2.0.0
servicex_clients
coffea
jupyterlab
git+https://github.com/funcx-faas/funcX.git@async_interface#subdirectory=funcx_sdk

dask[distributed]

# Some helper libraries
aiostream
tenacity

# For development help
# pytest
flake8
